body {
  font-family: $font;
}
html {
  //@include html
}
h1 {
  @include primary-header
}
h2 {
  @include secondary-header
}
h3 {
  @include tertaire-header
}
a {
  color: #ffffff;
}
a:hover {
  color: #657cae;
  text-decoration: none;
}
